<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mentalgyaan">

    <uses-permission android:name="android.permission.NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DetailsActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".TherapyActivity" />
        <activity android:name=".QuotesActivity" />
        <activity
            android:name=".DiscoverWebsiteActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ChatBotActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".HelpWebsiteActivity" />
        <activity android:name=".NoticeToCustomerActivity" />
        <activity android:name=".ActivitiesActivity" />
        <activity android:name=".PlayingActivity" />
        <activity android:name=".AudioActivity" />
        <activity android:name=".DoneActivity" />
        <activity android:name=".SliderActivity" />
        <activity android:name=".SplashActivity">

        </activity>
        <activity android:name=".QuestionnaireActivity" />
        <activity android:name=".MainActivity" ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
    </application>

</manifest>